*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filterable_imgs{
    columns:2;
  
}
img{
    width:100%;
    height:auto;
    margin-bottom: 20px;
    border-radius: 5%;
    
}

@media (min-width:593px) {
    .filterable_imgs{
        columns:3;
      
    } 
}

@media (min-width:771px) {
    .filterable_imgs{
        columns: 4;
      
    } 
}

@media (min-width:1405px) {
    .filterable_imgs{
        columns:5;
      
    } 
}

